/*
Ошибка при коммите...Пока уберём...
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
    /* Не выделять текст при выборе пункта меню*/
    user-select: none;

}

.menu .menu-item:hover {
    background: #343434;
}

.custom-message-box {
    background: #FD722F;
    padding: 15px 20px;
    border-radius: 25px;
    width: 300px;

    /* white */
    /* color: white; */
    /* box-shadow: 0px 5px 10px white; */

    /* black */
    color: black;
    box-shadow: 0px 5px 10px black;

    display: none;
}

.custom-message-box b {
    margin-top: 5px;
    display: block;
    text-align: right;
}

.show {
    display: inline-block;
    animation: show 1s ease-in 1;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hystmodal {
    position: fixed;
    background: rgba(220,220,220,0.2);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex-flow: column nowrap;
    justify-content: center; /* см. ниже */
    align-items: center;
    z-index: 99;
    /* Чтобы окно не прилипало к границе
    браузера установим отступы */
    padding:30px 0;
    display: none;
}

.hystmodal__window {
    background: #fff;
    /* Установим по умолчанию ширину 600px
    но она будет не больше ширины браузера */
    width: 400px;
    max-width: 100%;
    border: 4px solid #d0ccbb;
    /* Заготовка для будущих анимаций */
    transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
    transform: scale(1);
    box-shadow: 0px 5px 10px black;
}
.hystmodal__window_header {
    background: #cbc5b8;
    user-select: none;
    color: black;
    height: 22px;

}

.hystmodal__window_header span {
    vertical-align: middle;
    font-size: 18px;
    margin-left: 5px;
    margin-top: 5px;
}

.hystmodal__close {
    float: right;
    background-color: #258c9e;
    border-radius: 100%;
    border: none;
    color: white;
    width: 20px;
    padding: 2px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

:hover.hystmodal__close {
    color: black;
}

:active.hystmodal__close{
    opacity: 0.8;
}

.hystmodal__window_body {
    background: #e9e9e9;
    padding: 10px;
    min-height: 20px;
    /*border-top: 4px solid #d0ccbb;*/

    /* white */
    /* color: white; */
    /* box-shadow: 0px 5px 10px white; */

    /* black */
    color: black;


    display: block;
}
.base-timer {
position: relative;
width: 300px;
height: 300px;
}


.base-timer_circle {
fill: none;
stroke: none;
}

.base-timer_path-elapsed {
stroke-width: 10px;
stroke: grey;
}

.base-timer_path-remaining {
stroke-width: 10px;
stroke-linecap: round;
fill-rule: nonzero;
stroke: currentColor;
}

.base-timer_path-remaining.green {
color: green;
}

.base-timer_path-remaining.orange {
color: orange;
}

.base-timer_path-remaining.red {
color: red;
}

.base-timer_label {
position: absolute;
width: 300px;
height: 300px;
top: 0;
display: flex;
align-items: center;
justify-content: center;
font-size: 50px;
}
